.font-poppins {
  font-family: "Poppins", sans-serif;
}

.color-dev-black {
    color: #282828;
}

.color-dev-BrightSkyBlue {
    color: #2991FB;
}

.color-dev-deepblue {
    color: #392DB0;
}

.cards{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.scrollHidden {
    scrollbar-width: none;
}